{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-3">{{ legend }}</legend>
      <div class="form-group">
        {{ form.title.label(class="form-control-label") }}
        {% if form.title.errors %}
          {{ form.title(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.title.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.title(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.description.label(class="form-control-label") }}
        {% if form.description.errors %}
          {{ form.description(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.description.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.description(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.daily_price.label(class="form-control-label") }}
        {% if form.daily_price.errors %}
          {{ form.daily_price(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.daily_price.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.daily_price(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.weekly_price.label(class="form-control-label") }}
        {% if form.weekly_price.errors %}
          {{ form.weekly_price(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.weekly_price.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.weekly_price(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.monthly_price.label(class="form-control-label") }}
        {% if form.monthly_price.errors %}
          {{ form.monthly_price(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.monthly_price.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.monthly_price(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.location.label(class="form-control-label") }}
        {% if form.location.errors %}
          {{ form.location(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.location.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.location(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.contact.label(class="form-control-label") }}
        {% if form.contact.errors %}
          {{ form.contact(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.contact.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.contact(class="form-control form-control-lg") }}
        {% endif %}
      </div>

    </fieldset>
    <div class="form-group">
       {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
